$monteRawOffWhite: #eee;
$monteRawMedGrey: #aaa;
$monteRawDarkGrey: #999;
$monteRawDarkerGrey: #444;

$monteRawFontSizeSmall: 0.65rem;
$monteRawFontSizeMedium: 0.75rem;
$monteRawFontSizeRegular: 1rem;
$monteRawFontSizeLarge: 2rem;
